/* const buttonStyle= {
    fontSize:"16px",
    backgroundColor: "#7FFFD4",
    width:"100px",
    margin:"10px",
    color:"white",
    padding:"15px",
    borderRadius: "30px"
} */

button {
    font-size:16px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color:rgb(235, 255, 208);
    border-width: 5px;
}

.counterButton {
    background-color: #7FFFD4;
    width:100px;
}

.resetButton {
    background-color: #ffa7d3;
    width:200px;
}

.count {
    font-size: 50px;
    padding: 20px;
}

.totalCount {
    color:rgb(181, 223, 255);
    font-size: 150px;
}

